* {
    font-family: sans-serif;
}

.exp {
    padding: 3px;
}

body {
    text-align: center;
    margin: auto;
    background-color: 	#F0F8FF;
    width: 800px;
    height: 525px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

ul > li {
    list-style: none;
}
